.div1{
  background: url('./img/1@2x.png') no-repeat center;
}
.div2{
  background: url('./img/2@2x.png') no-repeat center;
}
.div3{
  background: url('./img/3@2x.png') no-repeat center;
}
.div4{
  background: url('./img/4@2x.png') no-repeat center;
}
.div5{
  background: url('./img/1.png') no-repeat center;
}
.div6{
  background: url('./img/2.png') no-repeat center;
}
.div7{
  background: url('./img/3.png') no-repeat center;
}
.div8{
  background: url('./img/4.png') no-repeat center;
}